html
    head
        include templates/template_head

    body
        include templates/template_nav

        #GUI_CONTENT.row

           h2.white-text.center-align La Boutique est en cours de construction ! Stay connected 
